NODE_ID={{ inventory_hostname }}
TENANT_ID={{ tenant_id }}
CUSTOMER_ID={{ customer_id }}
HUB_BASE_URL={{ hub_base_url }}
HUB_METRICS_URL={{ hub_base_url }}/metrics
ENROLL_TOKEN={{ enroll_token }}
ENTERPRISE_AUTH_TOKEN=systemhaus-master-secret-token
AGENT_CERT_PATH=/etc/sentinel/certs/agent.crt
AGENT_KEY_PATH=/etc/sentinel/certs/agent.key
CA_CERT_PATH=/etc/sentinel/certs/ca.crt
